.navbar-brand {
    font-family: "Dancing Script", cursive;
    letter-spacing: 3px;
}

.cart-counter {
    font-size: "17px"; 
    text-decoration: none;
}

.cart-yellow {
    color: #f5961d;
}

.cart-grey {
    color: grey;
}

.total-count {
    font-weight: 600;
}